@model LibraryMs.Models.Book

@{
    ViewData["Title"] = "Book Details";
}
<div class="container-fluid">
<div class="container-fluid">
    <p class="display-6">BOOK DETAILS</p>
    <hr />
    <dl class="row table-body">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Form)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Form.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-3 mx-2">Edit Book</a> 
    <a asp-action="Index" class="btn btn-success mt-3 mx-2">Back to List</a>
</div>
</div>

